.leftbox-reduced-padding .panel-button {
  /*-natural-hpadding: 4px;*/
  -minimum-hpadding: 2px;
}

.window-button > StWidget {
  spacing: 6px;
  padding: 4px;

  -st-natural-width: 240px;
  min-width: 24px;
  max-width: 240px;
}

.window-focused {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 0.25);

  transition-duration: 0.2s;
}

.window-unfocused {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 0.2s;
}
