.leftbox-reduced-padding .panel-button {
  /*-natural-hpadding: 4px;*/
  -minimum-hpadding: 2px;
}

.window-button > StWidget {
  spacing: 6px;
  padding-left: 2px;
  padding-right: 2px;

  -st-natural-width: 240px;
  min-width: 24px;
  max-width: 240px;
}

.window-focused {
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.7);

  transition-duration: 0.2s;
}

.window-unfocused {
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  transition-duration: 0.2s;
}

